body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border: 2px solid gray;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    border-radius: 8px;
}

h1 {
    font-size: 2em;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: #3498db;
    padding: 10px 20px;
    border: 2px solid #3498db;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #3498db;
    color: white;
}
